<div class="card">
  <a href="/productos/detalle/<%= id %>">
    <div class="card-img">
      <div
        class="card-img-background"
        style="background-image: url('/img/<%= imagenes %>')"
      ></div>
    </div>
  </a>
    <div class="card-text-box">
      <h3 class="card-name"><%=nombre%></h3>
      <div class="card-value">
        <p class="card-discount"><%= descuento %>%</p>
        <p class="card-price">$<%= precio - (precio * descuento/ 100)%></p>
      </div>
    </div>
    <div class="card-button">
        <button>Añadir al carrito</button>
        <!-- agregar con ejs la condicion si uno al clickear añadir carrito y no estar logueado lo redirija al login/register,sino a vista del carrito -->
    </div>
</div>
















