<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{title: 'Carrito'}) %> 

<body class="carritoUno">
    
    <%- include('./partials/header') %>

    <main class="main">


        <div class="sectionUno">
            <section>
                <div class="backgroundAmarillo"></div>
                <table class="tabla">
                    <thead>
                        <tr class="titulosTabla">
                            <div class="marcoAmarillo"></div>
                            <th>producto</th><th>precio</th><th>cantidad</th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(producto => { %>
                        <tr>
                            <td>
                                <div class="productoDetalle">
                                    <div  class="img">
                                        <img id="imgMain" src="/img/<%= producto.imagenes[0] %>" alt="Imagen principal"  class="img">
                                    </div> 
                                    <a href="/detalle" class="a"><%= producto.titulo %> </a>
                                </div>
                            </td>
                            <td>
                                <div class="precioListaDesktop">
                                    <p class="precioLista"><%= "$"+producto.precio %></p>
                                </div>
                            </td>
                            <td>
                                <div class="precio">
                                    <div class="precioListaMovil">
                                        <p class="precioLista"><%= "$"+producto.precio %></p>
                                    </div>
                                    <div>
                                        <div class="agregar">
                                            <button class="botonAgregar"><i
                                                    class="fa-solid fa-circle-minus"></i></button>
                                            <input type="number" class="agregarNum" value="1">
                                            <button class="botonSacar"><i class="fa-solid fa-circle-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td><button class="eliminar"><i class="fa-solid fa-circle-xmark"></i></button></td>
                            <% }) %>
                        </tbody>
                </table>
                <div class="borde"></div>
                <div class="seguirActualizar">
                    <p class="seguirComprando">seguir comprando</p>
                    <span><button onClick="window.location.reload();" class="actualizar">actualizar</button></span>
                </div>
            </section>
        </div>

        <div class="sectionDos">
        <section>
                <div class="fondoCuadroDos">
                    <div class="totalCarrito">Total del carrito</div>
                </div>
                <article>
                    <div class="articuloFila">
                        <div class="filaTexto">
                            <div>Subtotal</div>
                            <div class="envio">Envío</div>
                            <div>Total</div>
                        </div>
                        <div class="filaPrecios">
                            <div>$13.280</div>
                            <div>$0</div>
                            <div class="precioFinal">$13.280</div>
                        </div>
                    </div>
                    <div class="divFinalizar"><button class="finalizar">Finalizar Compra</button></div>
                </article>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>
