<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head',{title:"Editando un producto nuevo"}) %>

<body class="crear-editar">

    <%- include('../partials/header') %>

    <main>
        <h1>Editando el producto</h1>

        <form action="/admin/editar/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data"> <!--  toda la informacion sera enviada por metodo PUT a la vista, con method modificamos la query con el metodo PUT-->
            <!--  -->
            <div class="form-floating m-2">
                <textarea class="form-control" name="Titulo" placeholder="Por favor inserte el titulo del producto"
                    id="floatingTextarea"><%= producto.titulo %></textarea>
                <label for="floatingTextarea">Titulo</label>
                <small>Obligatorio</small>
            </div>
            <div class="form-floating m-2">
                <select class="form-select" name="Marca" id="floatingSelect" aria-label="Floating label select example">
               
                   <% marcas.forEach(marca => { %>
                    <option value="<%= marca.id %>"><%= marca.nombre %></option>
                  <% }) %> 
                </select> 
                <label for="floatingSelect">Marca</label>
                <small>Obligatorio</small> <!-- la idea es que recorra las categorias  -->
             </div>
                <div class="form-floating m-2">
                    <select class="form-select" name="Categoria" id="floatingSelect" aria-label="Floating label select example">
                   
                       <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                      <% }) %> 
                    </select> 
                    <label for="floatingSelect">Categoria</label>
                    <small>Obligatorio</small> <!-- la idea es que recorra las categorias  -->
                 </div>
                 <div class="form-floating m-2">
                    <select class="form-select" name="Subcategoria" id="floatingSelect" aria-label="Floating label select example">
                   
                       <% subCategorias.forEach(subCategorias => { %>
                        <option value="<%= subCategorias.id %>"><%= subCategorias.nombre %></option>
                      <% }) %> 
                    </select> 
                    <label for="floatingSelect">Subcategoria</label>
                    <small>Obligatorio</small> <!-- la idea es que recorra las categorias  -->
                 </div>
                 <div class="form-floating m-2">
                     <input type="number" name="Precio" class="form-control" id="Precio" placeholder="Precio" value="<%=producto.precio%>">
                     <label for="Precio m-2">Precio</label>
                     <small>Obligatorio</small>
                    </div>
                    <div class="form-floating m-2">
                        <input type="number" name="Descuento" class="form-control" id="Descuento" placeholder="Descuento" value="<%=producto.descuento%>">
                        <label for="Descuento">Descuento</label>
                    </div>
                    <div class="form-floating m-2">
                        <input type="number" name="Stock" class="form-control" id="Stock" placeholder="Stock" value="<%=producto.stock%>">
                        <label for="Stock">Stock</label>
                    </div>
                    
                    <div class="form-floating m-2">
                        <textarea class="form-control h-100" name="Descripcion" placeholder="Por favor inserte la descripcion del producto"
                            id="floatingTextarea"><%= producto.descripcion %></textarea>
                        <label for="floatingTextarea">Descripcion</label>
                        <small>Obligatorio</small>
                    </div>
    
                    <div class="m-2">
<!--                         <label for="formFileMultiple" name="Imagenes" class="form-label">Subir imagenes del producto</label>
                        <input class="form-control" type="file" id="imagenes" name="imagenes" >
                        <small>Obligatorio</small> -->

                        <label class="form-label" for="product-img">
                            <img id="img-preview" class="img-fluid img-thumbnail imagen-height rounded" src="/img/<%=producto.imagen[0].nombre%>" alt="">
                            <div class="imgHover">
                                <p class="text-center">Selecionar Imagen</p>
                            </div>
                        </label>
                        <div class="form-admin__box activo">
                            <input class="form-input" id="imagenes" type="file" name="Imagenes"
                                placeholder="Imagen del Producto" accept="img/*">

                        </div>
                    </div>
                    
                    <div class="button">
                        <button class="btn btn-outline-success" type="submit">Editar Producto</button>
                    </div>
                    
                </section>
            </form>
        </main>
    </body>
    
    </html>